---
layout: landing-page
---

<!-- Main -->
<article id="main">


    <section class="style4 wrapper container">
        <header class="special container">
            <h2><a href="news.html">News</a></h2>
            <span class="icon fa-newspaper-o"></span>
        </header>

        {% for post in site.posts limit:1 %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {% if post.image %}
        <a class="image featured"><img src="post-images/{{post.image}}"/></a>
        {% endif %}

        {{ post.excerpt }}

        <ul class="actions">
            <li><a href="{{ site.url }}{{ post.url }}" class="button">Read More</a></li>
        </ul>
        {% endfor %}
    </section>

    <section class="style4 wrapper container">
        <header class="special container">
            <h2>Participant Map</h2>
            <span class="icon fa-map-o"></span>
        </header>

        <div id="world-map" style="height: 600px"></div>
        <script>
            $(function() {
                var heatData = {
                    "AT": 10,
                    "BA": 1,
                    "BE": 2,
                    "CH": 1,
                    "CZ": 0,
                    "DE": 40,
                    "DK": 14,
                    "EG": 0,
                    "ES": 14,
                    "FI": 25,
                    "FR": 2,
                    "GB": 18,
                    "GE": 3,
                    "GR": 3,
                    "HR": 23,
                    "HU": 29,
                    "IE": 0,
                    "IT": 28,
                    "MA": 4,
                    "MK": 4,
                    "MX": 4,
                    "NL": 4,
                    "NO": 2,
                    "PL": 17,
                    "PT": 2,
                    "RO": 9,
                    "RS": 6,
                    "RU": 4,
                    "SA": 0,
                    "SE": 1,
                    "TR": 9,
                    "UA": 7,
                    "US": 3,
                    "IN": 1,
                    "LT": 2,
                    "MT": 15,
                    "IR": 5
                };

                $('#world-map').vectorMap({
                    map: 'world_mill',
                    series: {
                        regions: [{
                            values: heatData,
                            scale: ['#C8EEFF', '#0071A4'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    onRegionTipShow: function(e, el, code) {
                        el.html(el.html() + ' - ' + heatData[code] + ' participants');
                    }
                });
            });
        </script>
    </section>
</article>

<!-- CTA -->
<section id="cta">

    <header>
        <h2>Are you <strong>ready</strong>?</h2>
        <p>Late registrations are open!</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="eventbrite.html" class="button special">Sign me up!</a></li>
        </ul>
    </footer>

</section>
