---
layout: single-page
title: News
icon: fa-newspaper-o
description: ICPS 2016 continues a series of annual physics conferences that began in the 1986. The 31st ICPS will be held in Malta between August 11th - 17th, 2016.
keywords: ICPS2016, ICPS, IAPS, physics, students, Malta, conference
---

<section class="wrapper style4 container">
    <ul class="posts">
        {% for post in site.posts %}
        <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% if post.image %}
            <a class="image featured">
                <img src="post-images/{{post.image}}" />
            </a>1
            {% endif %}

            {{ post.excerpt }}

            <section class="special">
                <ul class="buttons">
                    <li><a href="{{ post.url }}" class="button">Read more</a></li>
                </ul>
            </section>
        </li>
        {% endfor %}
    </ul>
</section>
