<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="no-sidebar">

    {% include header.html %}

    <!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon {{page.icon}}"></span>
			<h2>{{page.title}}</h2>
			{% if page.subTitle %}<p>{{page.subTitle}}</p>{% endif %}
            {% if page.image %}<a class="image featured">
                <img src="images/{{page.image}}" />
            </a>{% endif %}
		</header>
        {{ content }}
    </article>
    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
