<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="no-sidebar">

    {% include header.html %}

    <!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon {{page.icon}}"></span>
			<h2>{{page.title}}</h2>
			{% if page.subTitle %}<p>{{page.subTitle}}</p>{% endif %}
            {% if page.image %}<a class="image featured">
                <img src="images/{{page.image}}" />
            </a>{% endif %}
		</header>


        <!-- One -->
        <section class="wrapper style1 container special">

            <!-- Content -->
            <div class="content">

                <div class="row">
                    <div class="4u 12u(narrower)">
                        <section>
                            {% if page.imageone %}<a class="image featured">
                                <img src="images/{{page.imageone}}" />
                            </a>{% endif %}
                            <header>
                                <h3>{{page.titleone}}</h3>
                                <p>{page.textone}}</p>
                            </header>
                        </section>
                    </div>

                	<div class="4u 12u(narrower)">
                        <section>
                            {% if page.imagetwo %}<a class="image featured">
                                <img src="images/{{page.imagetwo}}" />
                            </a>{% endif %}
                            <header>
                                <h3>{{page.titletwo}}</h3>
                                <p>{page.texttwo}}</p>
                            </header>
                        </section>
                    </div>

                	<div class="4u 12u(narrower)">
                        <section>
                            {% if page.imagethree %}<a class="image featured">
                                <img src="images/{{page.imagethree}}" />
                            </a>{% endif %}
                            <header>
                                <h3>{{page.titlethree}}</h3>
                                <p>{page.textthree}}</p>
                            </header>
                        </section>
                    </div>
                </div>

                {{ content }}

            </div>
        </section>

    </article>
    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
